<div class="qrgen-container">
    <div class="qrgen-container__flex">
        <div class="qrgen-header">
            <div class="qrgen-header__info">
                <h3>Need to create QR code?</h3>
                <p>
                    Just enter string value in input and QR code will be created live!
                </p>
            </div>
        </div>
        <div class="qrgen-cols">
            <!-- Col -->
            <div class="qrgen-cols__svg">
                <div class="p-8">
                    <svg id="qrcode-svg" class="mx-auto my-auto"
                         style="width:24em; height:24em; padding:1em; background-color:#E8E8E8">
                        <rect width="100%" height="100%" fill="#FFFFFF" stroke-width="0"></rect>
                        <path d="" fill="#101010" stroke-width="0"></path>
                    </svg>
                </div>
            </div>
            <!-- Col -->
            <div class="qrgen-cols__form">
                <mm-qrgen-navigation (itemClick)="setQrGenFormType($event)"></mm-qrgen-navigation>
                <mm-qrgen-form (qrGenData)="drawCode($event)" [formType]="formType" [formConfig]="formConfig">
                </mm-qrgen-form>
                <!--        </form>-->
            </div>
        </div>
    </div>
</div>

