<div class="webgl-container">
    <div class="webgl-container__header">
        <div class="square"></div>
    </div>

    <nav class="webgl-container__menu">
        <span>menu</span>/
        <span>en</span>/
        <span>rs</span>/
    </nav>
    <section class="webgl-container__content">
        <p>Hello, I am</p>
        <h1>Loremo Ipsumic</h1>
        <p class="end">and this is my digital playground</p>
    </section>
    <div class="webgl-container__footer">
        <div class="scroll">scroll to change focus</div>
    </div>
</div>

