<tui-root tuiMode="onDark">
    <div class="container mx-auto h-screen w-full relative">
        <main class="main-container">
            <router-outlet></router-outlet>
        </main>
    </div>

    <ng-container ngProjectAs="tuiOverContent">
        <!-- Content over app content -->
    </ng-container>
    <ng-container ngProjectAs="tuiOverDialogs">
        <!-- Content over dialogs -->
    </ng-container>
    <ng-container ngProjectAs="tuiOverAlerts">
        <!-- Content over notifications -->
    </ng-container>
    <ng-container ngProjectAs="tuiOverPortals">
        <!-- Content over dropdowns -->
    </ng-container>
    <ng-container ngProjectAs="tuiOverHints">
        <!-- Content over hints -->
    </ng-container>
</tui-root>
