@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@taiga-ui/core/styles/taiga-ui-local';
html,
body {
  overscroll-behavior-y: none;
}
body {
  @apply bg-neutral-800 font-jost;
}

@layer components {
  mm-qrgen {
    @apply font-mono;
    .qrgen-container {
      @apply container mx-auto;
      &__flex {
        @apply flex justify-center md:px-6 md:my-12 sm:my-8 sm:px-3;
      }
      .qrgen-cols {
        @apply w-full xl:w-3/4 lg:w-11/12 flex sm:flex-col md:flex-row;

        &__svg {
          @apply w-full h-auto lg:block lg:w-1/2 bg-cover rounded-l-lg;
        }

        &__form {
          @apply w-full lg:w-1/2 p-5 rounded-lg lg:rounded-l-none;

          &__info {
            @apply px-8 mb-4 text-center text-slate-300;
          }

          &__input {
            @apply mb-4;
          }

          p {
            @apply mb-4 text-sm text-slate-500;
          }

          h3 {
            @apply pt-4 mb-2 text-2xl
          }

          form {
            @apply px-8 pt-6 pb-8 mb-4 rounded;
          }
        }
      }
    }
  }

  mm-pages {
    .main-container {
      @apply flex flex-col w-full items-center justify-center mx-auto px-8 bg-cover bg-neutral-800;

      &__title {
        @apply max-w-2xl text-center;
      }
    }

    h2 {
      @apply text-3xl sm:text-5xl capitalize font-sans tracking-widest text-white lg:text-7xl;
    }
  }

  mm-webgl {
    @apply text-white;

    .webgl-container {
      //pointer-events: none;
      @apply absolute grid place-content-center w-full h-screen z-10;
      &__header {
        @apply fixed top-10 left-0 h-16 px-5;
      }
      &__menu {
        @apply uppercase fixed top-10 right-12;
        span {
          @apply mr-2.5 inline-block pb-1.5;
          &:hover {
            @apply border-b-2 border-white;
          }
        }


      }
      &__footer {
        @apply fixed bottom-0 left-0;
      }
      &__content {
        @apply flex gap-5 w-full relative items-center md:flex-col;
        h1 {
          @apply pb-2 pl-[0.7em]
          mb-2 uppercase tracking-widest lg:text-6xl
          font-bold lg:tracking-wider lg:w-full md:w-1/2 md:text-5xl;
        }
      }
      .square {
        @apply h-10 w-1 bg-cyan-100 py-2 rounded-lg;
      }
      .scroll {
        @apply absolute left-4 bottom-40 rotate-90 origin-bottom-left whitespace-nowrap;
      }
      .scroll-line {
        @apply absolute left-6 bottom-72 rotate-90 origin-bottom-left bg-gray-300 h-[1px] w-28;
      }


    }
    canvas {
      pointer-events: auto;
      z-index: 0;
      position: fixed;
      top: 0;
      left: 0;
      outline: none;
    }
  }
}
