@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@taiga-ui/core/styles/taiga-ui-local';
html,
body {
  overscroll-behavior-y: none;
}
body {
  @apply bg-neutral-800 font-jost;
}

@layer components {
  mm-qrgen {
    @apply font-mono;
    .qrgen-container {
      @apply container mx-auto;

      h3 {
        @apply pt-4 mb-2 text-2xl
      }

      p {
        @apply mb-4 text-sm text-slate-400;
      }

      &__flex {
        @apply flex justify-center md:px-6 md:my-12 sm:my-8 sm:px-3 flex-col;
      }

      .qrgen-header {
        @apply w-full mx-auto flex justify-center text-center text-3xl xl:w-3/4 lg:w-full text-slate-300;


        &__info {
          @apply px-8 mb-4 text-center;
        }
      }

      .qrgen-cols {
        @apply w-full mx-auto xl:w-3/4 lg:w-11/12 flex sm:flex-col md:flex-row;

        &__svg {
          @apply w-full h-auto lg:block lg:w-1/2 bg-cover rounded-l-lg;

          svg {
            @apply mt-10;
          }
        }

        &__form {
          @apply w-full lg:w-1/2 p-5 rounded-lg lg:rounded-l-none;

          &__info {
            @apply px-8 mb-4 text-center text-slate-300;
          }

          &__input {
            @apply mb-4;
          }

          form {
            @apply px-8 pt-6 pb-8 mb-4 rounded;
          }
        }
      }
    }
  }

  mm-qrgen-form {
    tui-input,
    tui-input-phone-international {
      @apply w-full mb-4;
    }

    tui-checkbox-labeled {
      @apply my-4 text-right;
    }
  }

  mm-qrgen-navigation {
    button {
      @apply justify-around grow;
      &:hover,
      &:focus,
      &:active {
        @apply text-amber-50;
      }
    }

    tui-tabs {
      .qrgen-navigation__tab {
        @apply justify-around;
      }
      span {
        @apply justify-center;
      }
    }
  }

  mm-pages {
    .main-container {
      @apply flex flex-col w-full items-center justify-center mx-auto px-8 bg-cover bg-neutral-800;

      &__title {
        @apply max-w-2xl text-center;
      }
    }

    h2 {
      @apply text-3xl sm:text-5xl capitalize font-sans tracking-widest text-white lg:text-7xl;
    }
  }

  mm-webgl {
    @apply text-white;

    .webgl-container {
      //pointer-events: none;
      @apply absolute grid place-content-center w-full h-screen z-10;
      &__header {
        @apply fixed top-10 left-0 h-16 px-5;
      }
      &__menu {
        @apply uppercase fixed top-10 right-12;
        span {
          @apply mr-2.5 inline-block pb-1.5;
          &:hover {
            @apply border-b-2 border-white;
          }
        }


      }
      &__footer {
        @apply fixed bottom-0 left-0;
      }
      &__content {
        @apply flex gap-5 w-full relative items-center lg:bg-transparent md:flex-col md:bg-gray-600;
        p {
          @apply text-lg bg-gray-100 text-center text-slate-800
          lg:tracking-widish lg:self-start lg:ml-10 lg:pl-4
          md:self-center md:tracking-wide;
        }
        h1 {
          @apply pb-0 pl-[0.7em] blur-3xl
          mb-0 uppercase tracking-widest lg:text-6xl
          font-extrabold lg:tracking-wider lg:w-full md:w-1/2 md:text-5xl md:tracking-wider;
        }
        .end {
          @apply self-end;
        }
      }
      .square {
        @apply h-10 w-1 bg-cyan-100 py-2 rounded-lg;
      }
      .scroll {
        @apply absolute left-4 bottom-40 rotate-90 origin-bottom-left whitespace-nowrap;
      }
      .scroll-line {
        @apply absolute left-6 bottom-72 rotate-90 origin-bottom-left bg-gray-300 h-[1px] w-28;
      }


    }
    canvas {
      pointer-events: auto;
      z-index: 0;
      position: fixed;
      top: 0;
      left: 0;
      outline: none;
    }
  }
}
